%h1 Submit a Request

= form_tag requests_path, :id => "Submit a Request" do 
  
  = label :request, :zone, 'Zone'
  = select :request, :zone, @zones
  -#  = select :request, :zone, getZones

  = label :request, :building, 'Building'
  = select :request, :building, @buildings
  -#  = select :request, :building, getBuildings

  = label :request, :name, 'Name'
  = text_field :request, 'name'

  = label :request, :phone, 'Phone Number'
  = text_field :request, 'phone'

  = label :request, :email, 'Email'
  = text_field :request, 'email'

  = label :request, :area, 'Area'
  = select :request, :area, @areas
  -#  = select :request, :area, getArea

  = label :request, :description, 'Request Description'
  = text_field :request, 'description'
  %br
  = submit_tag "Submit", :id=>"submit"

%br
.centered_button_holder
= button_to "Back to Home", '/requests', :class => "front_page_button", :method => :get, :id => "home"
