%h1 Work Order: #{@work_order_id}

%ul
 %li
  Building:
  = @building_name
 %li
  Location ID:
  = @location_id
 %li
  Description:
  = @requested_action
 %li
  Corrective Action:
  = @corrective_action
 %li
  Current Status: 
  = @completed_notice
 %li
  Date Requested:
  =@request_date
 -if @date_closed != ""
  %li
   Date Closed:
   =@date_closed
= button_to "Back to Home", '/requests', :class => "front_page_button", :method => :get, :id=>"home"
