%h3 Find a Work Order by ID

= form_tag "/work_order/", :id => "Search", :class => "input-append" do 
  
  %br
  = text_field :request_id, 'request_id', :class => "span2", :placeholder => "(e.g. HM-654321)"
  = submit_tag "Search", :class => "btn"
%h7 (Don't know your Work Order number? Find your request below)

%br
%br
%h3 My Requests
%table{:class => "table table-hover"}
  %thead
    %tr
      - @headers.each do |header|
        %td
          %b= header
  %tbody
    - @requests.each do |request|
      %tr
        %td 
          - if (request.id.to_s == @sent_email.to_s)            
            Submit
          - else
            = link_to "Submit", "/requests/send_status_email/#{request.id}"
        %td= request.area
        %td= request.created_at.strftime("%b %d, %Y")
        %td= request.description
         
= button_to "Back to Home", '/requests', :class => "front_page_button", :method => :get, :id=>"home"
