%h1 Your Request

%ul
 %li
  Description:
  = @request.description
 %li
  Location:
  = @request.area.name
 %li
  Current Status: 
  = @request.status
 %li
  Building:
  = @request.area.building.name
 %li
  Zone:
  = @request.area.building.zone.name
 %li
  Date Requested:
  =@request.created_at


= button_to "Back to Home", '/requests', :class => "front_page_button", :method => :get, :id=>"home"
