!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          #ucb_icon_div
            -#= image_tag '/images/ucb_icon.png', :id => 'ucb_icon'
          #header_text_div
            %h2.title{:id => 'header_text'} UC Berkeley RSSP Maintenance Request
          = link_to 'CalNet Logout', logout_path()
    #main{:role => "main"}
      .container
        .content
          .row
            - if flash[:notice]
              #notice.message= flash[:notice]
            - elsif flash[:warning]
              #warning.message= flash[:warning]
            = yield
          %footer
